.App {
  text-align: center;
}

.App-header {
  background-color: #7433f1;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-body {
  display: flex;
  height: calc(100vh - 120px);
}

.Search-container {
  flex: 1;
}

.Favourites-container {
  flex: 1;
  background-color: rgb(235, 235, 235);
}